* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
  width: 1440px;
  height: 3000px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
nav {
  width: 1440px;
  height: 90px;
  background-color: #181818;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}
nav img {
  width: 128px;
  height: 31px;
  color: white;
  margin-left: 152px;
}
nav ul {
  display: flex;
  gap: 56px;
  list-style-type: none;
  margin-left: 340px;
}
nav a {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
nav a:hover{
    color: deepskyblue;
    cursor: pointer;
}
nav button {
  width: 155px;
  height: 42px;
  border-radius: 14px;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  margin-left: 31px;
}
nav button:hover{
    background-color: coral;
    color: white;
    cursor: pointer;
}
nav button:active{
    transform: scale(0.8);
}
/* navbar qismi tugadi */
main {
  width: 1440px;
  height: 716px;
  background-image: url("./IMAGE.png");
  padding-top: 441px;
}
main div {
  width: 600px;
  height: 209px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #c0c0c0;
}
main h1 {
  font-family: Poppins;
  font-size: 54px;
  font-weight: 400;
  line-height: 59.4px;
  text-align: center;
  color: #ffffff;
}
main p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #c0c0c0;
}
main sup {
  color: #ffffff;
}
.xarita {
  display: flex;
  margin-left: 1121px;
  gap: 10px;
}
main img {
  width: 15.25px;
  height: 16px;
}
/* main qismi tugadi */

.section1 {
  width: 1440px;
  height: 1558px;
  padding-top: 113px;
}
.sectionh2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  color: white;
}
.sectionp {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #c0c0c0;
}
.div {
  width: 1168px;
  height: 1216px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.Cras {
  width: 576px;
  height: 600px;
  background-image: url(./IMAGE2.png);
  padding-left: 30px;
  padding-top: 421px;
}
.Cras span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ffffff;
}
.Crasp {
  width: 501px;
  height: 80px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #c0c0c0;
}
.btn {
  width: 143px;
  height: 42px;
  border-radius: 14px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
}
.item {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: black;
  border: none;
  margin-left: 5px;
}
.Cras1 {
    width: 576px;
    height: 600px;
    background-image: url(./IMAGE3.png);
    padding-left: 30px;
    padding-top: 421px;
  }
  .Cras1 span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .Cras2 {
    width: 576px;
    height: 600px;
    background-image: url(./IMAGE4.png);
    padding-left: 30px;
    padding-top: 421px;
  }
  .Cras2 span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .Cras3 {
    width: 576px;
    height: 600px;
    background-image: url(./IMAGE5.png);
    padding-left: 30px;
    padding-top: 421px;
  }
  .Cras3 span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  .btn:hover{
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    transition: all 0.7s linear;
  }
  .btn:active{
    transform:scale(0.5);
  }
/* sectin 1 qismi tugadi */
.section2 {
  width: 1440px;
  height: 600px;
  background-image: url(./IMAGE1.png);
  /* text-align: center; */
  padding-top: 260px;
}
.section2 h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-left: 1080px;
  /* text-align: center; */
}
.section2 p {
  width: 298px;
  height: 60px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #c0c0c0;
  margin-top: 20px;
  margin-left: 1080px;
  /* text-align: center; */
}
.section2 sup {
  color: white;
}
.xarita1 {
  margin-left: 1200px;
  margin-top: 175px;
}
.btn2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: fixed;
    right: -10px;
    top: 300px;
    background-color: rgb(14, 247, 41);
    font-size: 30px;
}